.jcarousel-skin-arthemia .jcarousel-container {
}


.jcarousel-skin-arthemia .jcarousel-container-vertical {
    width: 310px;
    height: 416px;
    padding: 0px;
}

.jcarousel-skin-arthemia .jcarousel-clip-vertical {
    width:  310px;
    height: 395px;
}

.jcarousel-skin-arthemia .jcarousel-item {
    width: 310px;
    height: 79px;
}

.jcarousel-skin-arthemia .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-arthemia .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-arthemia .jcarousel-next-vertical {
    position: absolute;
    bottom: 10px;
    left: 165px;
    width: 17px;
    height: 10px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-arthemia .jcarousel-next-vertical:hover {
    background-position: 0 -10px;
}

.jcarousel-skin-arthemia .jcarousel-next-vertical:active {
    background-position: 0 -20px;
}

.jcarousel-skin-arthemia .jcarousel-next-disabled-vertical,
.jcarousel-skin-arthemia .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-arthemia .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -30px;
}

.jcarousel-skin-arthemia .jcarousel-prev-vertical {
    position: absolute;
    bottom: 10px;
    left: 135px;
    width: 17px;
    height: 10px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-arthemia .jcarousel-prev-vertical:hover {
    background-position: 0 -10px;
}

.jcarousel-skin-arthemia .jcarousel-prev-vertical:active {
    background-position: 0 -20px;
}

.jcarousel-skin-arthemia .jcarousel-prev-disabled-vertical,
.jcarousel-skin-arthemia .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-arthemia .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -30px;
}
