#madmenu { 
	float:left; 
	padding: 0;
	margin: 0;
	clear:both;
	width:100%;
	font-weight:bold;
	text-transform:uppercase;
	font-size:10px;
	}

#madmenu ul {
	float:left; 
	padding: 0;
	margin: 0;
	list-style-type: none;
	}

#madmenu li { 
	float: left;
	margin: 0;
	padding:0;
	border-right:1px solid #303030;
	}

#madmenu li:hover {
	background: #5b5b5b;
	}

#madmenu li a, #madmenu li a:visited { 
	margin:0;
	padding:7px 14px;
	color:#eeeeee;
	display:block;
	}

#madmenu li li { 
	float: none;
	margin: 0;
	padding:0;
	border-right:0px solid #303030;
	}

#madmenu li ul {
	display:none;
	position: absolute;
	width: 154px;
	left: -999em;
	padding:0;
	text-transform: none;

	}

#madmenu li ul ul { 
	margin: -22px 0 0 154px;
	}

#madmenu li:hover ul ul, #madmenu li:hover ul ul ul, #madmenu li.sfhover ul ul, #madmenu li.sfhover ul ul ul {
	left: -999em;
	}

#madmenu li:hover ul, #madmenu li li:hover ul, #madmenu li li li:hover ul, #madmenu li.sfhover ul, #madmenu li li.sfhover ul, #madmenu li li li.sfhover ul { 
	display:block;
	left: auto;
	}

#madmenu a, #madmenu a:visited, #madmenu a:link {
	display: block;
	text-decoration:none;
    	padding:7px 14px;
    	margin:0;
	color: #ffffff;
	}

#madmenu a:hover, #madmenu a:active {
    	background: #5b5b5b;
	color:#fff;
	}

#madmenu li li a, #madmenu li li a:link, #madmenu li li a:visited {
	color:#fff;
	background: #5b5b5b url(images/dots_nav.gif) repeat-x top;
	padding:5px 14px;
	float: none;
	margin: 0;
	}

#madmenu li li a:hover, #madmenu li li a:active {
	background: #909090;
	color:#fff;
	}

#madmenu li li li a {
	padding:5px 14px;
	background: #909090;
	}

#madmenu li li li a:hover {
	color: #fff;
	}

#madmenu li li li a:active {
	color: #fff;
	background: #909090;
	}
